<mat-toolbar color="primary">
  <div class="toolbar-container">
    <div>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="requestToggleSideNav()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </div>

    <div>
      <label>Mobile Learning System 3</label>
    </div>

    <div class="toolbar-container-item-connectivity">
      <app-app-connectivity-display></app-app-connectivity-display>
    </div>

    <div class="toolbar-container-item-right">
      <div>
        <app-user-menu></app-user-menu>
      </div>
    </div>
  </div>
</mat-toolbar>