 @import "src/styles.scss";

 .sidenav-container {
     height: 100%;
 }

 .sidenav {
     min-width: 200px;
 }

 .disabled-area {
     pointer-events: none;
     cursor: default;
     color: $disabled !important;
 }