<mat-card class="mat-card">
    <mat-card-title>Actions</mat-card-title>
    <mat-card-content>
        <button mat-stroked-button color="primary" (click)="saveAsync()" [disabled]="!canSave">Save</button>
        <button mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-content>
        <form class="example-form" [formGroup]="formGroup">
            <div class="form-fields-container">
                <mat-form-field>
                    <input matInput type="text" placeholder="Enter question" formControlName="questionText">
                </mat-form-field>
                <app-validation-errors [formControlToValidate]="formGroup.controls['questionText']">
                </app-validation-errors>

                <p-editor formControlName="answerText" [style]="{'height':'320px'}"></p-editor>

                <app-validation-errors [formControlToValidate]="formGroup.controls['answerText']">
                </app-validation-errors>
            </div>
        </form>
    </mat-card-content>
</mat-card>