<mat-card class="mat-card">
    <mat-card-title>{{ 'common.actions' | translate }}</mat-card-title>
    <mat-card-content>
        <button mat-stroked-button color="primary" (click)="saveAsync()" [disabled]="!canSave">{{ 'common.save' | translate }}
        </button>
        <button mat-stroked-button color="accent" (click)="copySavedFact()" [disabled]="!canCopySavedFact">{{ 'areas.facts.edit.components.fact-edit.copySavedFact' | translate }}</button>
        <button mat-stroked-button color="warn" (click)="cancel()">{{ 'common.cancel' | translate }}</button>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>{{ title }}</mat-card-title>
    <mat-card-content>
        <form class="example-form" [formGroup]="formGroup">
            <div class="form-fields-container">
                <mat-form-field>
                    <input matInput type="text" placeholder="{{ 'areas.facts.edit.components.fact-edit.enterQuestion' | translate }}" formControlName="questionText">
                    <mat-error [appValidationErrors]="formGroup.controls['questionText']"></mat-error>
                </mat-form-field>

                <p-editor formControlName="answerText" [style]="{'height':'320px'}"></p-editor>
                <mat-error [appValidationErrors]="formGroup.controls['answerText']"></mat-error>
            </div>
        </form>
    </mat-card-content>
</mat-card>