@import "src/styles.scss";

.toolbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

.toolbar-container-item-right {
  margin-left: auto;
}

.toolbar-container-item-connectivity {
  margin-left: 10px;
}
