.flex-container-row {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .flex-container-welcome {
    display: flex;
  }

  .flex-item-welcome {
    margin: auto;
  }