<div class="flex-container-row">
  <div class="flex-container-welcome">
    <div class="flex-item-welcome">
      <span>
        Welcome, {{ (securityUser$ | async).userName }}
      </span>
    </div>
  </div>

  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>

  <div>
    <mat-menu #menu="matMenu">
      <ng-container *ngIf="!isUserAuthenticated">
        <button mat-menu-item (click)="logInAsync()">Log In</button>
      </ng-container>

      <ng-container *ngIf="isUserAuthenticated">
        <button mat-menu-item (click)="logOut()">Log Out</button>
      </ng-container>
    </mat-menu>
  </div>

</div>