 @import "src/styles.scss";

 $white: rgb(255, 255, 255);


 .sidenav-container {
   height: 100%;
 }

 .sidenav {
   min-width: 200px;
 }

 .disabled-area {
   pointer-events: none;
   cursor: default;
   color: $disabled !important;
 }

 .active {
   background: darken($white, 5%);
 }