@import "src/styles.scss";

.btn {
    margin-right: 10px;
    color:white;
}

.btn-primary {
    background: $primary;
}

.btn-accent {
    background: $accent;
}

.btn-warn {
    background: $warn;
}

.btn-disabled {
    background: $disabled;
}