<mat-card>
  <mat-card-title>{{ 'areas.home.welcome.progressiveWebApp' | translate }}</mat-card-title>
  <mat-card-content>
    <button mat-stroked-button color="primary" (click)="installAsPwa()"
      [disabled]="!canInstallAsPwa">{{ 'areas.home.welcome.saveAsPwa' | translate }}</button>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>{{ 'areas.home.welcome.buttonsHeading' | translate }}</mat-card-title>
  <mat-card-content>
    <p>
      <button mat-stroked-button class="btn btn-primary">{{ 'areas.home.welcome.primaryButton' | translate }}</button>
      <button mat-stroked-button class="btn btn-accent">{{ 'areas.home.welcome.accentButton' | translate }}</button>
      <button mat-stroked-button class="btn btn-warn">{{ 'areas.home.welcome.warnButton' | translate }}</button>
      <button mat-stroked-button class="btn btn-disabled">{{ 'areas.home.welcome.disabledButton' | translate }}</button>
    </p>

    <p>
      <button mat-stroked-button color="primary">{{ 'areas.home.welcome.primaryNativeButton' | translate }}</button>
      <button mat-stroked-button color="accent">{{ 'areas.home.welcome.accentNativeButton' | translate }}</button>
      <button mat-stroked-button color="warn">{{ 'areas.home.welcome.warnNativeButton' | translate }}</button>
    </p>

    <p>
      <button mat-stroked-button color="primary" (click)="toggleBusyIndicator()">
        <span *appBusyIndicator="isBusyIndicatorShown"></span>
        <span>{{ 'areas.home.welcome.busy' | translate }}</span>
      </button>
    </p>
  </mat-card-content>
</mat-card>